#body{
    background-color: #FFFBE6;
}

#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #323232;
}

#textoazul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: justify;
    line-height: 1.5px;
    color: #04BFBF;
}

#textovermelho{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-align: right;
    line-height: 1.5px;
    color: #BF1F1F;
}

#textoamarelo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5px;
    color: #F2BC1B;
}

.link1{
    color: #323232;
    text-decoration: none;
  }

.link1:visited {
    color: #CBCBCB;
    text-decoration: none;
  }

.link1:hover {
    color: #7E7E7E;
    text-decoration: underline overline;
  }

  .link2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4E8DA6;
    text-decoration: none;
  }

.link2:visited {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #CC0000;
    text-decoration: none;
  }

.link2:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000088;
    text-decoration: underline overline;
  }